html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
  --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
  --border-radius: 0.5em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(248, 245, 236, 1);
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8em;
}

.hero_image {
  position: relative;
  /* Establish a positioning context for the text */
  display: inline-block;
  margin-bottom: 10em;
}

.image {
  display: block;
  /* Remove extra spacing under the image */
  width: 100%;
  /* Optional: Adjust to fit container */
  height: auto;
  /* Maintain aspect ratio */
}

.hero_image h1 {
  position: absolute;
  top: 19%;
  left: 49%;
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 400;
  font-style: normal;
  transform: translate(-50%, -50%);
  font-size: var(--fs-xl);
  text-transform: uppercase;
}

.hero_image p {
  position: absolute;
  top: 66%;
  left: 17%;
  font-family: "Inder", serif;
  font-size: var(--fs-base);
  width: 12em;
  color: rgba(30, 47, 116, 1);

}

.arow {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.who_is {
  margin: 1em;
}

.who_is h1 {
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs-lg);
  text-transform: uppercase;
  color: rgba(165, 28, 48, 1);
}

.who_is p,
.new_beggining_section p,
.learn_section p,
.building_section p,
.guess_section p {
  font-family: "Inder", serif;
  font-size: var(--fs-base);
  color: rgba(30, 47, 116, 1);
  border-left: 2px dashed rgba(30, 47, 116, 1);
  padding-left: 0.5em;
}


svg {
  overflow: visible;
  height: 100%;
  transform: translateZ(0);
}

path {
  stroke-width: 2;
  stroke: rgba(30, 47, 116, 1);
  stroke-dasharray: 10;
}

.one_night_section {
  /* position: relative; */
  background-color: rgba(30, 47, 116, 1);
  border-top-left-radius: 170px;
  /* Round the top-left corner */
  border-top-right-radius: 170px;
}

.one_night_section h1 {
  /* position: absolute; */
  font-family: "IM Fell French Canon SC", serif;
  font-size: var(--fs-lg);
  padding-top: 3em;
  display: flex;
  justify-content: center;
  color: rgba(248, 245, 236, 1);
}

.one_night_section h2 {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  margin-top: -0.2em;
  font-family: "Lora", serif;
  font-size: 120px;
  color: rgba(215, 40, 42, 1);
}

.one_night_image {
  margin-top: -18em;
  width: 320px;
}

.eye {
  margin-top: -24em;
}

.one_night_section_text {
  font-family: "Inder", serif;
  font-size: var(--fs-base);
  color: rgba(248, 245, 236, 1);
  margin-left: 1em;
  padding-bottom: 3em;
  width: 18em;
}

.one_night_section_text p {
  margin-bottom: 1.5em;
}

.attack_section {
  position: relative;
  background-color: rgba(5, 17, 64, 1);

}

.footprint {
  margin-left: -6em;
  margin-top: -3em;
}

.attack_section_text {
  position: absolute;
  top: 22%;
  left: 25%;
  font-family: "Inder", serif;
  font-size: var(--fs-base);
  color: rgba(248, 245, 236, 1);
  width: 12em;
}

.attack_section p {
  font-family: "Inder", serif;
  font-size: var(--fs-base);
  color: rgba(248, 245, 236, 1);
  display: flex;
  justify-self: center;
  margin-bottom: 3em;
  width: 12em;
}

.arrow {
  margin-left: -2em;
  margin-bottom: -1em;
}

.printing-press {
  margin-top: -30em;
  margin-left: 2em;
  opacity: 0.2;
}

.new_beggining_section {
  margin: 1em;
}

.new_beggining_section h1 {
  font-family: "IM Fell French Canon SC", serif;
  font-size: var(--fs-xl);
  text-transform: uppercase;
  color: rgba(165, 28, 48, 1);
}

.new_beggining_section h2 {
  font-family: "IM Fell French Canon SC", serif;
  font-size: var(--fs-lg);
  text-transform: uppercase;
  margin-left: 2.7em;
  margin-top: -1.4em;
  color: rgba(165, 28, 48, 1);
}

.clouds {
  margin-left: -50em;
  margin-top: -12em;
}

.learn_section {
  margin: 1em;
  margin-bottom: 7em;
}

.learn_section h1 {
  font-family: "IM Fell French Canon SC", serif;
  font-size: var(--fs-xl);
  text-transform: uppercase;
  color: rgba(165, 28, 48, 1);
}

.learn_section h2 {
  font-family: "IM Fell French Canon SC", serif;
  font-size: var(--fs-lg);
  text-transform: uppercase;
  margin-left: 4.2em;
  margin-top: -1.4em;
  color: rgba(165, 28, 48, 1);
}

.books_section {
  margin: 1em;
}

.books_section p {
  font-family: "IM Fell French Canon SC", serif;
  font-size: var(--fs-lg);
  text-transform: uppercase;
  color: rgba(165, 28, 48, 1);
}

.books_two,
.books_six {
  margin-top: -0.7em;
}

.books_three {
  margin-top: -0.7em;
  margin-left: 3em;
}

.books_four {
  margin-top: -0.7em;
  margin-left: 7em;
}

.books_five {
  margin-top: -0.7em;
  margin-left: 3.5em;
}

.building_section {
  margin: 1em;
  margin-bottom: 8em;
}

.building_section h1 {
  font-family: "IM Fell French Canon SC", serif;
  font-size: var(--fs-lg);
  text-transform: uppercase;
  color: rgba(165, 28, 48, 1);
}

.building_section h2 {
  font-family: "IM Fell French Canon SC", serif;
  font-size: var(--fs-lg);
  text-transform: uppercase;
  margin-left: 5.2em;
  margin-top: -1em;
  color: rgba(165, 28, 48, 1);
}

.papers {
  position: absolute;
  margin-top: 6em;
  margin-left: -15em;
}

.books {
  position: relative;
}

.guess_section {
  margin: 1em;
}

.guess_section h1 {
  font-family: "IM Fell French Canon SC", serif;
  font-size: var(--fs-lg);
  text-transform: uppercase;
  color: rgba(165, 28, 48, 1);
}

.guess_section h2 {
  font-family: "IM Fell French Canon SC", serif;
  font-size: var(--fs-lg);
  text-transform: uppercase;
  margin-left: 3.3em;
  margin-top: -1.2em;
  color: rgba(165, 28, 48, 1);
}

.guess_section p {
  margin-bottom: 2em;
}

.guess_section img {
  margin-top: -11em;
  margin-left: 8em;
}

.interaction_section {
  margin-top: 3em;
  padding: 1em;
  border-top: 2px solid rgba(30, 47, 116, 1);
  border-bottom: 2px solid rgba(30, 47, 116, 1);
  /* Line style */
  margin: 20px 0;
  /* Add spacing */
  width: 100%;
  /* Line width */
}

.interaction_section p {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
  font-size: var(--fs-md);
  color: rgba(165, 28, 48, 1);
  border: none;
}

.interaction_section button {
  background-color: rgba(30, 47, 116, 1);
  color: rgba(248, 245, 236, 1);
  font-family: "Inder", serif;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.interaction_section button:active,
.interaction_section button.clicked {
  background-color: transparent;
  color: rgba(30, 47, 116, 1);
  border: 2px solid rgba(30, 47, 116, 1);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 1em;
  gap: 1em;
  flex-wrap: wrap;
}

.buttons button {
  flex: 1 1 calc(50% - 2em);
  max-width: calc(50% - 2em);
}

.vision_section {
  margin: 1em;
  margin-top: -10em;
  margin-bottom: 7em;
}

.vision_section img {
  margin-left: -12.7em;
  margin-top: -20em;
}

.vision_section p {
  font-family: "IM FELL French Canon SC", serif;
  font-size: var(--fs-md);
  color: rgba(165, 28, 48, 1);
}

.vision_one {
  margin-left: 0em;
}

.vision_two {
  margin-left: 2em;
}

.vision_three {
  margin-left: 7em;
}

.vision_four {
  margin-left: 12em;
}

.visit_section {
  margin-top: 3em;
  margin: 1em;
}

/* End of guess section */