html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
  --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
  --border-radius: 0.5em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(248, 245, 236, 1);
  width: 100%;
  margin: 0;
}

.hidden {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8em;
}

.hero_image {
  position: relative;
  /* Establish a positioning context for the text */
  display: inline-block;
  margin-bottom: 10em;
}

.image {
  display: block;
  /* Remove extra spacing under the image */
  width: 100%;
  /* Optional: Adjust to fit container */
  height: auto;
  /* Maintain aspect ratio */
}

.hero_image h1 {
  position: absolute;
  top: 19%;
  left: 49%;
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 400;
  font-style: normal;
  transform: translate(-50%, -50%);
  font-size: var(--fs-xl);
  text-transform: uppercase;
}

.hero_image p {
  position: absolute;
  top: 66%;
  left: 17%;
  font-family: "Inter", serif;
  font-size: var(--fs-base);
  width: 12em;
  color: rgba(30, 47, 116, 1);

}

.arow {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.who_is {
  margin: 1em;
}

.who_is h1 {
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs-lg);
  text-transform: uppercase;
  color: rgba(165, 28, 48, 1);
}

.who_is p {
  font-family: "Inter", serif;
  font-size: var(--fs-base);
  color: rgba(30, 47, 116, 1);
}


svg {
  overflow: visible;
  height: 100%;
  transform: translateZ(0);
}

path {
  stroke-width: 2;
  stroke: rgba(30, 47, 116, 1);
  stroke-dasharray: 10;
}

.one_night_section {
  position: relative;
  background-color: rgba(30, 47, 116, 1);
  border-top-left-radius: 170px;
  /* Round the top-left corner */
  border-top-right-radius: 170px;
}

.one_night_section h1 {
  position: absolute;
  font-family: "IM Fell French Canon SC", serif;
  font-size: var(--fs-lg);
  text-transform: uppercase;
  top: 7%;
  left: 20%;
  color: rgba(248, 245, 236, 1);
}

.one_night_section h2 {
  position: absolute;

  left: 12%;
  font-family: "Lora", serif;
  font-size: 120px;
  color: rgba(215, 40, 42, 1);
}

.one_night_image {
  padding-top: 5em;
  width: 320px;
}

.eye {
  position: absolute;
  top: 12%;
  left: 7%;
}

.one_night_section_text {
  margin-top: 25em;
  font-family: "Inter", serif;
  font-size: var(--fs-base);
  color: rgba(248, 245, 236, 1);
  margin-left: 1em;
}

.attack_section {
  position: relative;
  background-color: rgba(5, 17, 64, 1);

}

.attack_section_text {
  position: absolute;
  top: 30%;
  left: 10%;
  margin-left: 1em;
  font-family: "Inter", serif;
  font-size: var(--fs-base);
  color: rgba(248, 245, 236, 1);
  display: flex;
  width: 15em;
  justify-content: center;
  align-items: center;
}

.attack_section p {
  font-family: "Inter", serif;
  font-size: var(--fs-md);
  color: rgba(248, 245, 236, 1);
  margin-left: 1em;
}